@font-face {
    font-family: 'Roboto Condensed Regular';
    src: url("../fonts/RobotoCondensed-Regular.ttf");
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype")
  }

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url("../fonts/RobotoCondensed-Bold.ttf");
    src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype")
  }

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url("../fonts/RobotoCondensed-Light.ttf");
    src: url("../fonts/RobotoCondensed-Light.ttf") format("truetype")
  }